<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>EmpleosApp | Creación de Ofertas de Trabajo</title>
    <!-- Bootstrap core CSS -->
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link th:href="@{/bootstrap/css/sticky-footer-navbar.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
  </head>

  <body>

    <header th:insert="fragments/menu :: menu-principal"></header>

    <main role="main">     
      <hr>
      <div class="container mt-5 pt-5"> 

        <div class="card">
          <h4 class="card-header"><strong>Datos del Empleado</strong></h4>              
          <div class="card-body">
            <form th:action="@{/empleados/save}" method="post" th:object="${emp}" enctype="multipart/form-data">  
             
              <div th:if="${#fields.hasErrors('*')}"class='alert alert-danger' role='alert'>
				Por favor corrija los siguientes errores:
				<ul>
				<li th:each="err : ${#fields.errors('*')}" th:text="${err}"></li>
				</ul>
			  </div>	
                       
              <div class="row">
                <div class="col-md-3"> 
                  <div class="form-group">
                    <input type="hidden" th:field="*{empno}">
                    
                    <label for="ename">Nombre</label>
                    <input type="text" class="form-control" th:field="*{ename}" id="ename" name="ename" placeholder="Nombre del Empleado" required="required">
                  </div>
                </div>
                <div class="col-md-3"> 
                  <div class="form-group">
                    <label for="job">Puesto</label>
                    <input type="text" class="form-control" th:field="*{job}" id="job" name="job" placeholder="Puesto" required="required">
                  </div> 
                </div>    
              </div>    
              <div class="row">
                <div class="col-md-3"> 
                  <div class="form-group">
                    <label for="deptno">Departamento</label>
                    <select class="form-control" th:field="*{deptno}">
                      <option th:each="deptno : ${departamentos}" 
		                      th:value="${deptno.deptno}" 
		                      th:text="${deptno.dname}"></option>                     
                    </select>
                  </div>
                </div>
                <div class="col-md-3"> 
                  <div class="form-group">
                    <label for="mgr">MGR</label>
                    <input type="text" class="form-control" th:field="*{mgr}" id="mgr" name="mgr" placeholder="MGR" >
                  </div> 
                </div>  
                <div class="col-md-3"> 
                  <div class="form-group">
                    <label for="hiredate">Fecha de Contratacion</label>
                    <input type="text" class="form-control" th:field="*{hiredate}" name="hiredate" id="hiredate" placeholder="Fecha de Contratacion" required="required">
                  </div>  
                </div>
                
              <div class="row">
                <div class="col-md-3"> 
                  <div class="form-group">
                    <label for="sal">Salario</label>
                    <input type="text" class="form-control" th:field="*{sal}" name="sal" id="sal" placeholder="Salario aproximado." required="required">
                  </div>
                </div>

                <div class="col-md-3"> 
                  <div class="form-group">
                    <label for="comm">Comisión</label>
                    <input type="text" class="form-control" th:field="*{comm}" id="comm" name="comm" placeholder="Comisión" >
                  </div> 
                </div>  
                
              </div> 
              <hr>
              
              </div> 
              <button type="submit" class="btn btn-primary">Guardar</button>  
            </form>
          </div>
        </div>
      </div> <!-- /container -->

    </main>

    <footer th:insert="fragments/footer :: pie-pagina" class="footer"></footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> 
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>
    <script th:src="@{/tinymce/tinymce.min.js}"></script>
    <script>
      
      $(function () {
          $("#hiredate").datepicker({dateFormat: 'dd-mm-yy'});
        }
      );

      tinymce.init({
          selector: '#detalles',
          plugins: "textcolor, table lists code",
          toolbar: " undo redo | bold italic | alignleft aligncenter alignright alignjustify \n\
                    | bullist numlist outdent indent | forecolor backcolor table code"
      });
      
    </script>
  </body>
</html>