<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BD Scott</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link th:href="@{/bootstrap/css/sticky-footer-navbar.css}" rel="stylesheet">
</head>
<body>

    <header th:insert="fragments/menu :: menu-principal"></header>

    <main role="main" class="container">
        <div class="jumbotron">
        <div class="container mt-2 pt-2">
          <h3>Encuentra información sobre empleados de BD Scott</h3>

          <div class="card">
            <h3 class="card-header">
              <strong>Filtros</strong>
            </h3>

            <div class="card-body">
              <h4 class="text-muted">Puedes buscar por nombre o departamento.</h4>
              <form class="form-inline ">
                <div class="d-flex flex-row align-items-center gap-2 justify-content-between">
                  <input type="text" class="form-control w-50 " id="exampleFormControlInput1" name="nombre" placeholder="Escriba el nombre de el Empleado">&nbsp;
                  <select class="form-select w-auto" name="deptno">
                    <option value="">Seleccione un departamento</option>        
                    <option th:each="deptno : ${departamentos}" 
                                th:value="${deptno.deptno}" 
                                th:text="${deptno.dname}"></option>                     
                  </select>
                  <button type="submit" class="btn btn-primary bg-black border-black">Buscar</button>
                </div>
            </form>
            </div>
          </div>
          
          
        </div>
      </div>
    </main>

    <div th:insert="tabla :: tabl-empleados"></div>
    

    <footer th:insert="fragments/footer :: pie-pagina" class="footer"></footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>